@import url('../variables.css');

.tracker__infos__container {
    width: 100%;
    max-width: 1112px;
    height: 162px;
    position: absolute;
    margin-top: 12.5rem;
    padding: 0em 1em;
    z-index: 2;
}

.tracker__infos__container__content {
    background-color: var(--White);
    border-radius: .8em;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 2em 2rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.tracker__infos {
    width: 100%;
    max-width: 184px;
    display: flex;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 200px;
    background-color: var(--DarkGray);
    transform: rotate(90deg);
    opacity: .3;
    margin-top: calc((162px - 77px) / 2);
}

.tracker__infos__t {
    color: var(--DarkGray);
    font-weight: var(--fontRubik500);
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: var(--fontSize13px);
    letter-spacing: .1rem;
}

.tracker__infos__detail {
    color: var(--Black);
    font-weight: var(--fontRubik500);
    font-size: var(--fontSize27px);
}

@media(max-width: 850px) {
    .tracker__infos__container {
        max-width: 500px;
    }
    .tracker__infos__container__content {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .line {
        display: none;
    }

    .tracker__infos {
        max-width: unset;
        text-align: center;
    }
}

@media(max-width:600px) {
    .tracker__infos__detail {
        color: var(--Black);
        font-weight: var(--fontRubik500);
        font-size: var(--fontSize18px);
    }
}